.main-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    width: 80%;
    margin: 0 auto;
  }
  
  .main-heading {
    margin-left: 0;
    margin-bottom: 1rem; /* Add margin to separate the heading from the CardComponent */
    font-size: 60px;
    font-family: 'Magra';
    margin-right: auto;
  }

  @media screen and (max-width: 600px) {
    .main-heading {
        font-size: 44px;
    }
  }

.link-underline-prevent-default {
  color: inherit;
  text-decoration: underline;
}

.link-bold-prevent-default {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}


.link-underline-prevent-default:hover, .link-bold-prevent-default:hover {
  opacity: 0.7;
}
