.main-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    width: 80%;
    margin: 0 auto;
  }
  
  .main-heading {
    margin-left: 0;
    margin-bottom: 1rem; /* Add margin to separate the heading from the CardComponent */
    font-size: 3.5rem;
    font-family: 'Magra';
    margin-right: auto;
  }