
.main-body-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    width: 80%;
    justify-content: flex-start;
    margin: 0 auto;
    min-height: 60vh; /* This sets the minimum height to 100% of the viewport height */
  }
  
  .main-heading, .main-heading-center {
    margin-left: 0;
    margin-bottom: 1rem; /* Add margin to separate the heading from the CardComponent */
    font-size: 64px;
  }

  .main-heading {
    margin-right: auto;
  }

  .main-heading-center {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .main-heading {
        font-size: 44px;
    }

    .main-heading-center {
      font-size: 32px;
    }
  }

.link-underline-prevent-default {
  color: inherit;
  text-decoration: underline;
}

.link-bold-prevent-default {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}


.link-underline-prevent-default:hover, .link-bold-prevent-default:hover {
  opacity: 0.7;
}

.bold-header {
  font-weight: bold;
}

.header, .bold-header {
  font-size: 2rem;
}

.bold-text {
  font-weight: bold;
  font-size: 1.5rem;
}


@media screen and (max-width: 600px) {
  .bold-header, header {
    font-size: 1.5rem;
  }

  .bold-text {
    font-size: 1rem;
  }
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
}
